{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <style>
        .loginheaderstyle {
            background-color: white;
            border: 2px solid mediumblue;
            float: left;
            padding-right: 55%;
            margin-left: -401px;
            margin-right: auto;
        }

        h1 {
            color: mediumblue;
            font-size: 42px;
            margin-left: 290px;
        }
    </style>
</head>
<header class="loginheaderstyle">
    <table>
        <tr>
            <td>
                <img src="{% static 'SHOPKART_LOGO.png' %}" class="imgsize">
            </td>
            <td class="homestyle">
                <a href="home" class="navbartextcolor">Home</a>
            </td>
            <td class="productstyle">
                <a href="dap" class="navbartextcolor">Products</a>
            </td>
            <td class="loginstyle">
                <a href="login" class="navbartextcolor">Login</a>
            </td>
        </tr>
    </table>
</header>

<body class="loginbodycontainer">
    <h1>LOGIN</h1>
    <form action="log" class="logincontainer">
        <div><input type="text" placeholder="User ID" name="a1" class="loginuserid"></div>
        <div><input type="text" placeholder="Password" name="a2" class="loginpassword"></div>
        <div><input type="submit" class="loginsubmit" value="Login"></div>
    </form>
</body>

</html>